.messageSender {
    font-weight: bold;
}

.textInline {
    display: inline;
    word-wrap: break-word;
}

.chatTop {
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    padding-top: 10px;
}

.chatBody {
    overflow: scroll;
    position: fixed;
    width: 100%;
    top: 70px;
    bottom: 60px;
    height: calc(100% - 130px);
    z-index: -1;
}

.chatBottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
}

.deleteCorrespondenceWarning {
    z-index: 1;
    padding-top: 60px;
}

.yesButton {
    position: absolute;
    left: 0;
}

.noButton {
    position: absolute;
    right: 0;
}

.submitMessage {
    width: 100%;
}

.loginAs {
    padding-top: 10px;
}

.tableThReduceFontWeight {
    font-weight: normal;
}



