.messageSender {
    font-weight: bold;
}

.messageText {
    display: inline;
    word-wrap: break-word;
}

.helloUsername {
    margin-top: 10px;
}

.chatTop {
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    padding-top: 10px;
}

.chatBody {
    overflow: scroll;
    position: fixed;
    width: 100%;
    top: 70px;
    bottom: 60px;
    height: calc(100% - 130px);
}

.chatBottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
}

.deleteCorrespondenceWarning {
    z-index: 1;
    position:absolute;
    bottom: 100px;
    padding-right: 15px;
}

.yesDeleteCorrespondence {
    position: absolute;
    left: 0;
}

.noDontDeleteCorrespondence {
    position: absolute;
    right: 0;
}

.submitMessage {
    width: 100%;
}



